::selection {
    background-color: transparent;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(25, 25, 25);
    cursor: default;
}

.head {
    color: grey;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.button {
    color: white;
    padding: 25px 0;
    text-align: center;
    background-color: rgb(75, 75, 75);
    font-size: 20px;
    transition: all 0.01s;
    border-radius: 2px;
}

.highlight {
    opacity: 50%;
}

.item1 {
    grid-area: one;   
}
.item2 {
    grid-area: two;   
}
.item3 {
    grid-area: three;
}
.item4 {
    grid-area: four;   
}
.item5 {
    grid-area: five;
}
.item6 {
    grid-area: six;
}
.item7 {
    grid-area: seven;
}
.item8 {
    grid-area: eight;
}
.item9 {
    grid-area: nine;
}
.item10 {
    grid-area: zero;
    text-align: left;
    padding-left: 32px;
}
.item11 {
    color: white;
    text-align: right;
    grid-area: display;
    background-color: rgb(36, 36, 36);
    font-size: 57px;
    padding: 3px 22px 0px 0px;
    border-radius: 2px;
}
.item12 {
    grid-area: clear;
    background-color: rgb(60, 167, 255);
    box-shadow: 0px 0px 5px rgba(60, 167, 255, 0.8);

}
.item13 {
    grid-area: divide;
    background-color: rgb(150, 150, 150);
}
.item14 {
    grid-area: multiply;
    background-color: rgb(150, 150, 150);
}
.item15 {
    grid-area: subtract;
    background-color: rgb(150, 150, 150);
}
.item16 {
    grid-area: add;
    background-color: rgb(211, 146, 26);
    box-shadow: 0px 0px 5px rgba(211, 146, 26, 0.8);
}
.item17 {
    grid-area: equals;
    background-color: rgb(211, 146, 26);
    box-shadow: 0px 0px 5px rgba(211, 146, 26, 0.8);
}
.item18 {
    grid-area: decimal;
}

.calculator-container {
    height: 480px;
    width: 320px;
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        'display display display display'
        'clear divide multiply subtract'
        'seven eight nine add'
        'four five six add'
        'one two three equals'
        'zero zero decimal equals';
    grid-gap: 1px;
    box-shadow: 5px 5px 10px rgb(10, 10, 10)
}